.about__title,
.prod__title,
.edge__title{
    p{
        font-family: 'Impact' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        color: #EC7F00 !important; 
        text-align: center !important;
    } 
}

#about{
    .about__title{
        font-size: 68px 
    }
}
#prod{
    .prod__title{
        font-size: 68px 
    }
}
#edge{
    .edge__title{
        font-size: 68px 
    }
}

@media (max-width: 580px) {
    .about__title,
    .prod__title,
    .edge__title p {
        font-size: 35px !important;
        margin: 25px 0 !important;
    } 
}