body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 0;
    height: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131; 
    p{
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 146px; 
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, #F2A500 50%, #FFFFFF 50%); 
        padding: 20px 0; 
        position: relative;
    }
    p::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10px;
        width: 100%;
        background: linear-gradient(to right, #F2A500 67%, #fff 0%);
    }
}

@media (max-width: 600px) {
    .banner{
        p{
            font-size: 70px;
            padding: 0;
            line-height: 108px;
        }
        p::after{
            height: 7px;
        }
    }
}

/*### header ###*/
#header{
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-color: #313131;
    min-height: 630px;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1920px;
        padding: 30px 25px 0 25px;
        position: relative;
        z-index: 2; 
        .logo{
            max-width: 280px;
            max-height: 280px;
            overflow: hidden;
            margin: 0 auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .btn{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #FFFFFF; 
            background: #EC7F00;
            border-radius: 20px; 
            display: inline-block;
            padding: 19px 64px;
            margin: 0 15px 0 0;
            cursor: pointer;
        }
    }
    .wrapp__nav{
        .close__btn{
            display: none;
        }
        .burger__icon{
            width: 50px;
            height: 50px;
            background: #F2A500;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center; 
            align-content: center;
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 5px;
            display: none;
            z-index: 9;
            span{
                width: 35px;
                height: 4px;
                margin: 5px 0;
                background: #000;
                display: block;
            }
        } 
        .main__menu{
            max-width: 677px;
            margin: 64px 415px 42px auto;
            .menu__ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    .link__menu{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        color: #FFFFFF;
                        text-decoration: none;
                        padding: 10px 15px;
                    }
                }
            }
        }  
    }
    .header__content{
        display: flex;
        justify-content: flex-end;
        padding: 42px 0 0 25px;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        .content__item{
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 20%;
            .page__title{
                font-family: 'Impact';
                font-style: normal;
                font-weight: 400;
                font-size: 68px;
                color: #FFFFFF; 
            }
            .page__text{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #FFFFFF;  
                margin: 0 0 45px 0;             
            }
            .btn{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                color: #FFFFFF; 
                background: #EC7F00;
                border-radius: 20px; 
                display: inline-block;
                padding: 19px 64px;
                margin: 0 15px 0 0;
                cursor: pointer; 
            }
        }
    }
    .wrapper__slider{
        max-width: 1085px;
    }
    .swiper-wrapper{
        max-width: 1085px;
        max-height: 640px;
    }
    .swiper-slide{
        overflow: hidden;
        max-height: 647px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


@media (max-width: 1279px) {
    #header{
        .header__content{
            flex-wrap: wrap;
            .content__item{
                position: inherit;
                margin: 0 auto 15px 0; 
            }
        }
    }
}

@media (max-width: 991px) {
    #header{
        .wrapper{
            padding: 60px 25px 0 25px; 
        }
        .wrapp__nav{
            .burger__icon{
                display: flex;
            } 
            .main__menu{
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                width: 100%; 
                z-index: 0;
                margin: 0;
                max-width: 100%;
                overflow-x: hidden;
                .menu__ul{
                    display: flex;
                    background-color: #313131;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start; 
                    flex-wrap: nowrap;
                    transform: translate(100vw); 
                    position: relative;
                    height: 100vh;
                    max-width: 300px;
                    margin: 0 0 0 auto;
                    transition: 1s ease;
                    padding: 0;
                    z-index: 999;
                    li{
                        padding: 25px 0;
                        max-width: 200px;
                        
                        .link__menu{
                            padding: 18px 0;
                        }
                    }
                    .close__btn{
                        width: 50px;
                        height: 50px;
                        background: #F2A500;
                        display: block;
                        cursor: pointer; 
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center; 
                        left: -50px;
                        top: 0;
                        img{
                            width: 65%;
                            height: 65%;
                            object-fit: contain; 
                        }
                    } 
                }
            }
            .main__menu::-webkit-scrollbar{
                width: 0;
                height: 0;
            }    
        }
    }
}

@media (max-width: 768px) {
    #header{
        .swiper-wrapper{
            max-width: 640px;
            max-height: 376px;
        }
        .wrapper{
            align-items: center; 
            .btn{
                font-size: 17px;
                padding: 12px 30px; 
                border-radius: 12px;
            } 
        }
        .header__content{
            
            .content__item{
                .page__title{
                    font-size: 50px;
                }
                .page__text{
                    font-size: 18px;
                }
                .btn{
                    font-size: 17px;
                    padding: 12px 30px; 
                    border-radius: 12px;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    #header{
        .swiper-wrapper{
            max-width: 360px;
            max-height: 212px; 
        }
    }
}