html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background: var(--body-color);
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--header-color);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: 2s;
}
.banner p {
  font-family: var(--font-first);
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 146px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--first-color) 50%, #FFFFFF 50%);
  padding: 20px 0;
  position: relative;
}
.banner p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, var(--first-color) 67%, #fff 0%);
}

@media (max-width: 600px) {
  .banner p {
    font-size: 70px;
    padding: 0;
    line-height: 108px;
  }
  .banner p::after {
    height: 7px;
  }
}
/*### header ###*/
#header {
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-color: var(--header-color);
  min-height: 630px;
}
#header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
  padding: 30px 25px 0 25px;
  position: relative;
  z-index: 2;
}
#header .wrapper .logo {
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
  margin: 0 auto;
}
#header .wrapper .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#header .wrapper .btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--close-button);
  background: var(--first-color);
  border-radius: 20px;
  max-width: 307px;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 0;
  cursor: pointer;
}
#header .wrapp__nav .close__btn {
  display: none;
}
#header .wrapp__nav .burger__icon {
  width: 50px;
  height: 50px;
  background: var(--first-second-color);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  z-index: 9;
}
#header .wrapp__nav .burger__icon span {
  width: 35px;
  height: 4px;
  margin: 5px 0;
  background: #000;
  display: block;
}
#header .wrapp__nav .main__menu {
  max-width: 677px;
  margin: 64px 415px 42px auto;
}
#header .wrapp__nav .main__menu .menu__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header .wrapp__nav .main__menu .menu__ul li .link__menu {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--first-text-color);
  text-decoration: none;
  padding: 10px 15px;
}
#header .header__content {
  display: flex;
  justify-content: flex-end;
  padding: 42px 0 0 25px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
#header .header__content .content__item {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 20%;
  max-width: 520px;
  padding: 0 20px;
}
#header .header__content .content__item .page__title {
  font-family: var(--font-first);
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  color: var(--first-text-color);
}
#header .header__content .content__item .page__text {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--first-text-color);
  margin: 0 0 45px 0;
}
#header .header__content .content__item .btn {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--close-button);
  background: var(--first-color);
  border-radius: 20px;
  display: inline-block;
  padding: 19px 64px;
  margin: 0 15px 0 0;
  cursor: pointer;
}
#header .wrapper__slider {
  max-width: 1085px;
}
#header .swiper-wrapper {
  max-width: 1085px;
  max-height: 640px;
}
#header .swiper-slide {
  overflow: hidden;
  max-height: 647px;
}
#header .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*### about ###*/
#about {
  padding: 0 25px;
}
#about .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 25px;
  max-width: 1280px;
  margin: 0 auto;
}
#about .wrapper .content__wrapper {
  max-width: 762px;
}
#about .wrapper .content__wrapper p {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
}
#about .wrapper .content__wrapper ul {
  padding: 0 0 0 20px;
}
#about .wrapper .content__wrapper ul li {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
  list-style-type: disc;
}
#about .wrapper .content__wrapper ul li::marker {
  color: var(--first-color);
}
#about .wrapper .content__img {
  max-width: 488px;
  max-height: 406px;
  overflow: hidden;
}
#about .wrapper .content__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*### prod ###*/
#prod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#prod .wrapper__title p:nth-child(1) {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  max-width: 440px;
  margin: 36px auto 0px auto;
  color: var(--second-text-color);
}
#prod .wrapper__title p:nth-child(1) span {
  color: var(--first-second-color);
}
#prod .wrapper__title p:nth-child(2) {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--second-text-color);
  max-width: 367px;
  margin: 0 auto 50px auto;
}
#prod .categories {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#prod .categories .wrapp__categories {
  margin: 0 27px;
}
#prod .categories .wrapp__categories p {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--second-text-color);
  padding: 23px 0 0 0;
}
@media (any-hover: hover) {
  #prod .categories .wrapp__categories .categories__img:hover {
    transition: 0.5s;
    box-shadow: 24px 30px 0px var(--first-color);
  }
}
#prod .categories .wrapp__categories:nth-child(odd) {
  max-width: 325px;
}
#prod .categories .wrapp__categories:nth-child(odd) .categories__img {
  max-width: 325px;
  max-height: 325px;
  overflow: hidden;
}
#prod .categories .wrapp__categories:nth-child(odd) .categories__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#prod .categories .wrapp__categories:nth-child(even) {
  max-width: 487px;
}
#prod .categories .wrapp__categories:nth-child(even) .categories__img {
  max-width: 487px;
  max-height: 325px;
  overflow: hidden;
}
#prod .categories .wrapp__categories:nth-child(even) .categories__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#prod .btn {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--close-button);
  background: var(--first-color);
  border-radius: 20px;
  padding: 19px 58px;
  text-decoration: none;
}

/*### edge ###*/
#edge .wrapp {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#edge .wrapp .wrapper {
  max-width: 320px;
  margin: 0 14px 25px 14px;
}
#edge .wrapp .text__wrapp {
  background: var(--block-color);
}
#edge .wrapp .text__wrapp p:nth-child(1) {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
  margin: 0;
  padding: 69px 98px 0 35px;
  box-sizing: border-box;
}
#edge .wrapp .text__wrapp p:nth-child(2) {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
  margin: 0;
  padding: 20px 40px;
  box-sizing: border-box;
}
#edge .wrapp .img__wrapp {
  max-width: 320px;
  overflow: hidden;
}
#edge .wrapp .img__wrapp img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*### contact ###*/
#contact .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#contact .wrapper .map {
  max-width: 805px;
  max-height: 465px;
}
#contact .wrapper .adress span,
#contact .wrapper .telephone span {
  font-family: var(--font-second) !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  color: var(--second-text-color) !important;
}
#contact .wrapper .adress .adress__text, #contact .wrapper .adress a, #contact .wrapper .adress .email__wrapp > a,
#contact .wrapper .telephone .adress__text,
#contact .wrapper .telephone a,
#contact .wrapper .telephone .email__wrapp > a {
  font-family: var(--font-second) !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  color: var(--second-text-color) !important;
  text-decoration: none;
}
#contact .wrapper .contact__wrapper {
  min-height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
}
#contact .wrapper .contact__wrapper .adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contact .wrapper .contact__wrapper .telephone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contact .wrapper .contact__wrapper .social__wrapp {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
#contact .wrapper .contact__wrapper .social__wrapp a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
}
#contact .wrapper .contact__wrapper .social__wrapp a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#contact .wrapper .contact__wrapper .email__wrapp a {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
  text-decoration: none;
}

/*### footer ###*/
#footer {
  display: flex;
  justify-content: space-around;
  background: var(--header-color);
  padding: 42px 20px;
}
#footer .footer__logo {
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
}
#footer .footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#footer .footer__menu {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#footer .footer__menu li > a {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--first-text-color);
  text-decoration: none;
}
#footer .arrow__up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: var(--first-color);
  border-radius: 4px;
}
#footer .arrow__up img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

#popup {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 1110;
  opacity: 0;
  transition: 0.8s;
  width: 100%;
  height: 100%;
}

#popup__form {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background: var(--body-color);
  border: 1px solid #fff;
  overflow: auto;
  max-height: 768px;
}
#popup__form .left__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("../img/form_bg.png");
  background-repeat: no-repeat;
  background-color: var(--header-color);
  max-width: 361px;
  width: 100%;
  min-height: 748px;
  box-sizing: border-box;
  padding: 16px 21px 16px 28px;
}
#popup__form .left__panel .form__logo {
  max-width: 220px;
  max-height: 220px;
  overflow: hidden;
}
#popup__form .left__panel .form__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#popup__form .left__panel .form__adress {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}
#popup__form .container__form {
  max-width: 509px;
  min-height: 748px;
  width: 100%;
  margin: 0 auto;
}
#popup__form .container__form .close__popup {
  width: 35px;
  height: 35px;
  margin: 6px 6px 0 auto;
  cursor: pointer;
  padding: 5px;
  background: var(--close-button);
}
#popup__form .container__form .close__popup img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#popup__form .container__form .form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#popup__form .container__form .form input {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  max-width: 413px;
  width: 100%;
  display: block;
  border: 3px solid var(--border-input-color);
  padding: 6px 0 6px 15px;
  margin: 11px 0;
}
#popup__form .container__form .form input::-moz-placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--placeholder-color);
}
#popup__form .container__form .form input:-ms-input-placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--placeholder-color);
}
#popup__form .container__form .form input::placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--placeholder-color);
}
#popup__form .container__form .form textarea {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border: 3px solid var(--border-input-color);
  max-width: 413px;
  width: 100%;
  resize: none;
  padding: 23px 0px 0px 15px;
  margin: 11px 0;
}
#popup__form .container__form .form textarea::-moz-placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--placeholder-color);
}
#popup__form .container__form .form textarea:-ms-input-placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--placeholder-color);
}
#popup__form .container__form .form textarea::placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--placeholder-color);
}
#popup__form .container__form .form .btn__valid {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--close-button);
  background: var(--first-color);
  border-radius: 20px;
  border: 0;
  padding: 18px 51px;
  margin: 40px 0;
  cursor: pointer;
}
#popup__form .container__form .title {
  font-family: var(--font-first);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: var(--first-color);
  text-align: center;
}
#popup__form .container__form .title span {
  color: var(--second-text-color);
}
#popup__form .container__form .second__title {
  font-family: var(--font-first);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--second-text-color);
  display: none;
}
#popup__form .container__form .second__title span {
  color: var(--first-second-color);
}
#popup__form .container__form .valid {
  max-width: 386px;
  margin: 0 auto;
  display: none;
}
#popup__form .container__form .valid .valid__title {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--second-text-color);
  margin: 32px 0;
}
#popup__form .container__form .valid .text {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--second-text-color);
  max-width: 160px;
}
#popup__form .container__form .valid .text span {
  color: var(--first-color);
}
#popup__form .container__form .contact__form .social__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 200px;
  margin: 20px auto;
}
#popup__form .container__form .contact__form .social__form a {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 3px;
}
#popup__form .container__form .contact__form .social__form a img {
  width: 100%;
  height: 100%;
}
#popup__form .container__form .contact__form .email a, #popup__form .container__form .contact__form .telephone a {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: var(--second-text-color);
  text-decoration: none;
}
#popup__form .container__form .contact__form .email span, #popup__form .container__form .contact__form .telephone span {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: var(--second-text-color);
}
#popup__form .container__form .contact__form .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#popup__form::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#popup__catalog {
  display: none;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  position: fixed;
  top: 8px;
}
#popup__catalog .container__form {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  background: var(--header-color);
  border: 1px solid #fff;
}
#popup__catalog .container__form .close__popup-catalog {
  width: 25px;
  height: 25px;
  margin: 6px 6px 0 auto;
  cursor: pointer;
  padding: 5px;
  background: var(--close-button);
}
#popup__catalog .container__form .close__popup-catalog img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#popup__catalog .container__form .form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 30px 0;
}
#popup__catalog .container__form .form input {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: block;
  border: 3px solid var(--border-input-color);
  padding: 6px 0 6px 15px;
  margin: 7px 0;
}
#popup__catalog .container__form .form input::-moz-placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--placeholder-color);
}
#popup__catalog .container__form .form input:-ms-input-placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--placeholder-color);
}
#popup__catalog .container__form .form input::placeholder {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--placeholder-color);
}
#popup__catalog .container__form .form .btn__valid-catalog {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--close-button);
  background: var(--first-color);
  border-radius: 10px;
  border: 0;
  padding: 10px 25px;
  margin: 15px 0;
  cursor: pointer;
}
#popup__catalog .container__form .title__catalog {
  font-family: var(--font-first);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: var(--first-color);
  text-align: center;
  margin: 10px 0;
}
#popup__catalog .container__form .second__title-catalog {
  font-family: var(--font-first);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: var(--first-second-color);
  display: none;
}
#popup__catalog .container__form .second__title-catalog span {
  color: var(--first-text-color);
}
#popup__catalog .container__form .valid__catalog {
  max-width: 386px;
  margin: 0 auto;
  display: none;
}
#popup__catalog .container__form .valid__catalog .valid__title {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  max-width: 290px;
  text-align: center;
  color: var(--first-text-color);
  margin: 10px auto;
}
#popup__catalog .container__form .valid__catalog .text {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--first-text-color);
  max-width: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 17px 0;
}
#popup__catalog .container__form .valid__catalog .text span {
  color: var(--first-color);
}

#control__panel {
  background: #6E3C3B;
  min-height: 100px;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  top: 3%;
  right: 0;
  max-width: 150px;
  width: 100%;
  box-shadow: 0px 0px 6px 3px #fff;
  transition: 1s;
  z-index: 1150;
}
#control__panel .wrapp__btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #6E3C3B;
}
#control__panel .wrapp__btn .btn__left, #control__panel .wrapp__btn .btn__right {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#control__panel .wrapp__btn .btn__left img, #control__panel .wrapp__btn .btn__right img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(1);
}
#control__panel .wrapper .wrapper__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  margin: 5px auto;
}
#control__panel .wrapper .color__wrapp {
  max-width: 102px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#control__panel .wrapper .color__wrapp .number {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0 10px;
}
#control__panel .wrapper .color__wrapp .main {
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}
#control__panel .wrapper .color__wrapp .main span:nth-child(2) {
  background: #fff;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .main span:nth-child(3) {
  background: #EC7F00;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .main span:nth-child(4) {
  background: #2D2D2D;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .black {
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}
#control__panel .wrapper .color__wrapp .black span:nth-child(2) {
  background: #fff;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .black span:nth-child(3) {
  background: #36ab84;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .black span:nth-child(4) {
  background: #000;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .second {
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}
#control__panel .wrapper .color__wrapp .second span:nth-child(2) {
  background: #0fcba7;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .second span:nth-child(3) {
  background: #006a57;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .second span:nth-child(4) {
  background: #0c2722;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .strong {
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}
#control__panel .wrapper .color__wrapp .strong span:nth-child(2) {
  background: #F1FFF1;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .strong span:nth-child(3) {
  background: #0098C9;
  width: 15px;
  height: 40px;
  display: block;
}
#control__panel .wrapper .color__wrapp .strong span:nth-child(4) {
  background: #032D39;
  width: 15px;
  height: 40px;
  display: block;
}

/*########## back pages ######*/
#header__catalog {
  background: var(--header-color);
}
#header__catalog .logo {
  max-width: 280px;
  max-height: 280px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0;
}
#header__catalog .logo a {
  display: block;
}
#header__catalog .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#catalog__home .wrapp {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#catalog__home .wrapp .wrapp__item {
  max-width: 320px;
  margin: 26px 26px;
  padding: 10px;
  cursor: pointer;
}
#catalog__home .wrapp .wrapp__item .wrapp__img {
  max-width: 320px;
  max-height: 274px;
  overflow: hidden;
}
#catalog__home .wrapp .wrapp__item .wrapp__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#catalog__home .wrapp .wrapp__item .wrapp__text p:nth-child(1) {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
}
#catalog__home .wrapp .wrapp__item .wrapp__text p:nth-child(2) {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--second-text-color);
  margin: 0;
}
#catalog__home .wrapp .wrapp__item .btn__catalog {
  font-family: var(--font-second);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--close-button);
  background: var(--first-color);
  border-radius: 10px;
  border: 0;
  padding: 10px 25px;
  margin: 15px 0;
  text-align: center;
}
@media (any-hover: hover) {
  #catalog__home .wrapp .wrapp__item:hover {
    transition: 0.5s;
    background: var(--first-color);
  }
}/*# sourceMappingURL=style.css.map */
